.fixed{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.main-body{
    margin-top: 44px;
    padding: 20px;
}

.urls a {
    text-decoration: none;    
}

.active_link{
    font-weight: 600;
    color: blue;
}